{% extends 'base.html.twig' %}

{% block title %}À Propos | Contact{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('about_us') }}
	
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('about_us') }}

<!-- Inclure l'API Google Maps avec les repères avancés -->
<script
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly&libraries=marker"
defer
></script>
{% endblock %}
{% block body %}

<div id="map" style="height: 500px; width: 100%;"></div>
{% endblock %}