<div class="col-md-3">
    <div class="card shadow-sm text-center border-0">
        <div class="card-body">
            {% set avatarPath = profile.avatarName is not null ? 'images/avatars/' ~ profile.avatarName : 'images/avatars/default/default-avatar.png' %}
            <img class="img-fluid rounded-circle mb-3 border border-gold border-5" src="{{ asset(avatarPath) }}" alt="Avatar de {{ profile.firstname }} {{ profile.name }}" style="width: 150px; height: 150px;"/>

            <h4 class="fw-bold text-blue">{{ profile.firstname }} {{ profile.name }}</h4>
            <p class="text-muted mb-3">{{ profile.pseudo }}</p>

            <div class="d-grid gap-2">
                <!-- Accueil Profil -->
                <a href="{{ path('profile_home') }}" class="btn btn-outline-blue  fw-bold">
                    <i class="fas fa-home me-2"></i> Accueil Profil
                </a>

                <!-- Gérer le Profil -->
                <a href="{{ path('app_profile') }}" class="btn btn-outline-blue fw-bold">
                    <i class="fas fa-user-edit me-2"></i> Gérer Profil
                </a>

                <!-- Gérer les Recettes -->
                <a href="{{ path('recipe_manage') }}" class="btn btn-outline-blue fw-bold">
                    <i class="fas fa-utensils me-2"></i> Gérer les Recettes
                </a>
            </div>
        </div>
    </div>
</div>