{% extends 'base.html.twig' %}

{% block title %}Gérer les Recettes{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('recipe') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    {% if profile.avatarName is not empty %}
                        <img class="img-fluid rounded-circle mb-3" src="{{ asset('images/avatars/' ~ profile.avatarName) }}" alt="Avatar de {{ profile.name }}" style="width: 150px; height: 150px; border: 2px solid #000;" />
                        <h4>{{ profile.firstname }} {{ profile.name }}</h4>
                    {% else %}
                        <img class="img-fluid rounded-circle mb-3" src="{{ asset('images/avatars/default-avatar.png') }}" alt="Avatar par défaut" style="width: 150px; height: 150px; border: 2px solid #000;" />
                    {% endif %}
                    <a href="{{ path('app_profile') }}" class="btn btn-primary mt-3">Gérer Profil</a>
                    <a href="{{ path('recipe_manage') }}" class="btn btn-primary mt-3">Gérer les Recettes</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#recipes" data-bs-toggle="tab">Mes Recettes</a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane fade show active" id="recipes">
                    <button id="add-recipe" class="btn btn-success mb-3">Ajouter une nouvelle recette</button>
                    <div class="row" id="recipes-list" data-csrf-token="{{ csrf_token('delete') }}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modale pour ajouter/modifier une recette -->
    <div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recipeModalLabel">Ajouter une recette</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="recipe-form" method="post" enctype="multipart/form-data">
                        {{ form_start(form, {'attr': {'id': 'recipe-form'}}) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}